<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="/files/index.css"/>
	<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>
<body>
		<nav class="navbar navbar-expand-lg abs navContainer">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">Brand</a>
		  </div>
		</nav>
		<div class="video-container">
	    	<video autoplay muted loop class="fullscreen-video abs">
				<source src="/files/background_video.mp4" type="video/mp4">
			</video>
		</div>
		<div class="form-container">
			<form id="form">
				<div class="mb-3">
				    <label for="exampleInputEmail1" class="form-label">Username</label>
				    <input type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp" required>
				</div>
				<div class="mb-3">
				    <label for="exampleInputPassword1" class="form-label">Password</label>
				    <input type="password" class="form-control" id="inputPassword" required>
				</div>
			  	<button type="submit" id="button-submit" class="btn btn-primary">Log in</button>
			</form>
		</div>
</body>
</html>